black==24.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
flake8==7.0.0
idna==3.7
isort==5.13.2
joblib==1.4.0
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.0
parso==0.8.4
pathspec==0.12.1
platformdirs==4.2.0
pycodestyle==2.11.1
pydocstring==0.2.1
pydocstyle==6.3.0
pyflakes==3.2.0
pymongo==4.6.3
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
setuptools==69.5.1
snowballstemmer==2.2.0
threadpoolctl==3.4.0
typing_extensions==4.11.0
urllib3==2.2.1
wheel==0.43.0
