black==24.4.0
click==8.1.7
flake8==7.0.0
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
parso==0.8.4
pathspec==0.12.1
platformdirs==4.2.0
pycodestyle==2.11.1
pydocstring==0.2.1
pydocstyle==6.3.0
pyflakes==3.2.0
setuptools==69.5.1
snowballstemmer==2.2.0
typing_extensions==4.11.0
wheel==0.43.0
